.banner{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/queenbanner2.jpg?alt=media&token=506a28f7-031e-4c94-9dab-f2c199a1bc30);
    background-position: top center;
    background-size: cover;
    padding:5% 30% 50% 20%;
}