<footer>
    <section class="footer">
        <div class="footer1">
            <img src="https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/footer%2Ffacebook.png?alt=media&token=7824ccfc-2faf-4606-aa83-28297f0be8a8" alt="">
            <img src="https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/footer%2Finstagram.png?alt=media&token=d56bf59f-72b2-448a-ab90-88c87f61b8fd" alt="">
            <img src="https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/footer%2Fsigno-de-twitter.png?alt=media&token=dfbb62ac-43e3-4224-938a-2f13f5a6465e" alt="">
        </div>
        <div class="footer2">
            <img src="" alt="">
        </div>
    </section>
</footer>