<!-- <footer>
    <section class="footer">
        <div class="footer1 ">
            <img height="32px" width="32px" src="https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/footer%2Ffacebook.png?alt=media&token=7824ccfc-2faf-4606-aa83-28297f0be8a8" alt="">
            <img height="32px" width="32px" src="https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/footer%2Finstagram.png?alt=media&token=d56bf59f-72b2-448a-ab90-88c87f61b8fd" alt="">
            <img height="32px" width="32px" src="https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/footer%2Fsigno-de-twitter.png?alt=media&token=dfbb62ac-43e3-4224-938a-2f13f5a6465e" alt="">
            <img height="32px" width="32px" src="https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/footer%2Fyoutube.png?alt=media&token=6e31e65d-134e-4dd3-8c64-f555ce72ebc8" alt="">
        </div>
        <div class="footer2">
            <img class="img-fluid" height="100px" width="100px" src="https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/footer%2F3acd1739f766969e2bdec43413c4f80b.png?alt=media&token=656aba8d-1a30-4c54-821c-5fad24cb9c60" alt="">
            <p>Copyright 2022, Todos los derechos reservados</p>
        </div>
        <div class="footer3">
            <p>Contacto</p><hr>
            <p>UK version</p><hr>

        </div>
    </section>
</footer> -->

<div class="container-fluid">
    <div class="row col-12">
        <div class="col-md-3">
            <img height="32px" width="32px" src="https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/footer%2Ffacebook.png?alt=media&token=7824ccfc-2faf-4606-aa83-28297f0be8a8" alt="">
            <img height="32px" width="32px" src="https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/footer%2Finstagram.png?alt=media&token=d56bf59f-72b2-448a-ab90-88c87f61b8fd" alt=""><br>6
            <img height="32px" width="32px" src="https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/footer%2Fsigno-de-twitter.png?alt=media&token=dfbb62ac-43e3-4224-938a-2f13f5a6465e" alt="">
            <img height="32px" width="32px" src="https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/footer%2Fyoutube.png?alt=media&token=6e31e65d-134e-4dd3-8c64-f555ce72ebc8" alt="">
        </div>
        <div class="footer2 col-md-6">
            <img class="img-fluid" height="100px" width="100px" src="https://firebasestorage.googleapis.com/v0/b/banda-63ab1.appspot.com/o/footer%2F3acd1739f766969e2bdec43413c4f80b.png?alt=media&token=656aba8d-1a30-4c54-821c-5fad24cb9c60" alt="">
            <p>Copyright 2022, Todos los derechos reservados</p>
        </div>
        <div class="col-md-3">
            <p>Contacto</p><hr>
            <p>UK version</p><hr>
        </div>


    </div>
</div>